.toolBar {
  height: 15%;
  background-color: rgb(12, 131, 177);
}

.menuIcon {
  color: white;
  position: absolute;
  left: 11%;
  top: 4%;
  cursor: pointer;
}

.toolBarTxt {
  color: white;
  position: absolute;
  left: 14%;
  top: 0%;
}

.footer {
  position: absolute;
  top: 693px;
  left: -16%;
  top: 98%;
  left: 0%;
  background-color: rgb(12, 131, 177);
  width: 100%;
}

.contentCard {
  border-radius: 0px;
  position: absolute;
  left: 11%;
  top: 9%;
  background-color: rgb(245, 245, 245);
  width: 82%;
  height: auto;
}

.sideNav {
  width: 286px;
  height: 662px;
  margin-left: -8px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.type-icon {
  color: #000000;
  margin-right: 5px;
}

::ng-deep .mat-tree-node {
  font-size: 14px;
  /* padding-left: 30px !important; */
  cursor: pointer !important;
}

::ng-deep .mat-tree-node :hover {
  background-color: rgb(242, 242, 242);
}

::ng-deep .mat-tree-node .selectedFile :focus {
  background-color: rgb(238, 24, 24) !important;
}

.filesCard {
  position: relative;
  top: 3%;
  width: 111%;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}

.downloadBtn {
  position: relative;
    width: 75.4%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    bottom: 662px;
    left: 283px;
}

.generateBtn {
  position: absolute;
  left: 38%;
  top: 20%;
  background-color: rgb(0, 120, 215);
  border-color: white;
  color: white;
  font-size: 14px;
}

.exploreBtn {
  position: absolute;
  left: 60%;
  top: 20%;
  background-color: rgb(0, 120, 215);
  border-color: white;
  color: white;
  font-size: 14px;
}

.copyBtn {
  position: absolute;
  top: 14%;
  right: 8%;
  background-color: rgb(255, 255, 255);
  color: black;
  border-color: #e7e7e7;
}

.dwBtn {
  position: absolute;
  top: 14%;
  right: 18%;
  background-color: rgb(255, 255, 255);
  color: black;
  border-color: #e7e7e7;
}
.filecontentCard{
  position: relative;
    width: 72.6%;
    bottom: 659px;
    left: 283px;
    display: block;
    /* color: rgb(57, 58, 52); */
    /* background: rgb(255, 255, 255); */
    height: 486px;
    font-size: 13px;
    transition: none !important;
    box-shadow: none !important;
}
 ::ng-deep .hljs {
  position: absolute;
    width: 97.3%;
    top: 0%;
    left: 1%;
    display: block;
    color: rgb(57, 58, 52);
    background: rgb(255, 255, 255);
    height: 95%;
    font-size: 13px;
} 

.selectFiletxt {
  position: absolute;
    left: 16px;
    top: 10px;
    font-weight: bold;
    font-size: 14px;
  
}

::ng-deep selectFileIcon {
  margin-left: 12px;
  margin-top: 19px;
}

.expandIcon {
  position: absolute;
  right: 20px;
  top: 65px;
}

/* scrollbar */

/* width */

::-webkit-scrollbar {
  width: 5px !important;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(178, 178, 178);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}