.javaImg
{       position: absolute;
  border-radius: 0;
  transform: translateY(-50%);
  width: 170px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  left: 33%;
  top: 66%;
    
}
.contentCard {
    
    margin-right:8%;
    margin-left: 8%;
    align-items: center;
    bottom:30% ;
    height:125%;
    border-radius: 0px;

  }

  .headingIcon{
    position: absolute;
    top: 344px;
    right: 60%;
    width: 80px;
  }
  .headingTxt{
    position: absolute;
    top: 39%;
    right: 32%;
  }
  

.dotNetImg
{ 
  font-size: 20px;
  cursor: pointer;
  top: 66%;
  position: absolute;
  width: 170px;
  transform: translateY(-50%);
  left: 53%;
}
h3{
    color: rgb(4,94,155);
    font-size: 29px; 
    text-align: center;

}
.bgContent{
  background-color:rgb(0,120,215);
  height: 100%;
}