.searchBar{
   
    left: 0%;
    width: 100%;
    top: 0%;

}

.closeIcon{
    position: fixed;
    right: 26%;
    top: 12%;
    color: red;
    cursor: pointer;
}
::ng-deep .mat-expansion-panel-header{
    height: 30px !important;
}
::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
   background-color:  rgb(0,120,215)
}

.dependencyPanel{
    height: 50px;

}
.dependencyPanel :hover{
    background-color: rgb(224, 217, 217);
}