<mat-form-field class="searchBar" appearance="outline">
  <input #ser matInput placeholder="Web, Security, JPA, Actuator, Dev Tools.." [(ngModel)]="searchValue">
  <mat-icon *ngIf="searchValue != null "class="closeIcon" (click)="clearInput()">close</mat-icon>
  <p *ngIf="searchValue == null "class="closeIcon">Press Ctrl for multiple adds</p>
  <button mat-button *ngIf = "multiSelectMode == true" class="multiDepend" (click)="addMultiDependency()">Add Selected Dependencies</button>
</mat-form-field>
<span class="dependencyPanel" *ngFor="let dependency of dependencies ">
<div style="margin-top: 10px;">
  <div *ngIf="searchValue == null " class="headerTxt">
    <p style="margin-top: 2px;
    margin-left: 7px;
    font-size: 13px;
    font-weight: 500;">{{dependency.name}}</p>
  </div>

  <mat-card class="dependencyPanel"
    *ngFor="let depend of dependency.values | dependencySearch : searchValue let i  = index ;"
    (click)="addDependency(depend,i,$event)" >

    <p  style="font-size: 13px;
    font-weight: bold;
    margin-top: -5px;
    color: rgb(64, 61, 61);">{{depend.name}}</p><span class="sideTxt"
      *ngIf="searchValue != null">{{dependency.name}}</span>

    <p style=" font-size: 12px; color:rgb(109, 102, 102)">{{depend.description}}</p>
  </mat-card>
</div>
</span>