<mat-card class="contentCard">

  <mat-grid-list cols="6" rowHeight="480px" >
    <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'#F5F5F5'">
      <mat-card class="pipeTitleCard"> 
        <h5 class="headings"> PipeLine Details</h5>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#F5F5F5'">
    <mat-card class="pipeTitleCard">
    <h5 class="headings"> Select Pipe</h5>
    </mat-card>
    <mat-card class="pipeIconsCard" [@EnterLeave]="'flyIn'" >
      <label>
        <input type="radio" name="test" value="small" [checked] = false>
        <img  class = "icon" (click)="getPipe('jenkins')" src="../../assets/images/jenkins-ci_512.png" >
      </label>
      <label>
        <input type="radio" name="test" value="small" [checked] = false>
        <img  class = "icon" (click)="getPipe('goCd')" src="../../assets/images/gocd_continuous_delivery_thoughtworks_twitter-e8d93d6f.jpg" >
      </label>
      <!-- <label>
        <input type="radio" name="test" value="small" [checked] = false>
        <img class = "icon" (click)="getPipe('oracle')" src="../../assets/images/microsoft-sql-server (2).png" >
      </label> -->
    </mat-card>
    <mat-card class="cloudTitleCard">
      <h5 class="headings"> Select Cloud</h5>
      </mat-card>
    <mat-card class="cloudIconsCard" [@EnterLeave]="'flyIn'">
      <label>
        <input type="radio" name="test" value="small" [checked] = false>
        <img  class = "icon" (click)="getCloud('aws')" src="../../assets/images/aws_logo_smile_1200x630.png" >
      </label>
      <label>
        <input type="radio" name="test" value="small" [checked] = false>
        <img  class = "icon" (click)="getCloud('azure')" src="../../assets/images/microsoft-azure-new-logo-2017-e1572843284943.png" >
      </label>
      <label>
        <input type="radio" name="test" value="small" [checked] = false>
        <img class = "icon" (click)="getCloud('oracle')" src="../../assets/images/microsoft-sql-server (2).png" >
      </label>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-card class="dbIconsCard"> -->
    <!-- <mat-card class="addOnCard" >
       <mat-card  class="addontiles"  *ngFor = "let addon of selectedAddonList; let i = index" >
      <p style="margin-top: 20px;font-size: 12px; text-align: center; text-transform: capitalize;">{{addon}}</p>
      </mat-card> 
      </mat-card> -->
</mat-card>