<a *ngIf="current == 1">
<mat-card class="contentCard">
  <mat-grid-list cols="6" rowHeight="480px">
    <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'#F5F5F5'">
<mat-card class="sucessCard" *ngIf = "!enableEnvironment">
  <mat-card-title class="successTxt">
    Your Project is Ready !!!
  </mat-card-title>
  <img style="width: 73%;margin-top: 32px;margin-left: 73px;" src="../../assets/images/projectready.jpg">
</mat-card>

  <mat-card *ngIf = "enableLogback"  class="dbtitleCard"> 
    <h5 class="headings">Add Environments</h5>
  </mat-card>
  <mat-card *ngIf = "enableLogback" class="logBackEnvCard">
<form [formGroup]="envForm">
  <a  *ngFor="let environment of getEnvFormControls(); let i = index">
<mat-form-field style="width: 45%; margin-left: 20px;" appearance="outline">
  <mat-label>Environment</mat-label> 
  <input  matInput style="margin-left: -7px;"  [formControl]="environment"  (keyup) = "environmentValue()">
  <mat-icon *ngIf = " i == 0 && envValue != null" class="addIcon" (click)="addEnv()">add_circle_outline</mat-icon>
  <mat-icon *ngIf = " i != 0" class="rmIcon" (click)="removeEnv(i)">remove_circle_outline</mat-icon>
</mat-form-field>
<mat-form-field style="width: 45%; margin-left: 20px;" appearance="outline">
  <mat-label>Context Path</mat-label> 
  <input  matInput style="margin-left: -7px;">
</mat-form-field>
 <mat-form-field style="margin-left: 23px ;width: 49%;" >
  <mat-label>logLevel</mat-label>
  <mat-select>
    <mat-option *ngFor="let dialect of dialects" [value]="dialect">
      {{dialect}}
    </mat-option>
  </mat-select>
</mat-form-field> 
</a>
</form>
</mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'#F5F5F5'">
      <mat-card class="iconTitleCard">
        <h5 class="headings"> Select Add On's</h5>
      </mat-card>
      <mat-card class="iconsCard">
        <label class="container">
          <input #check type="checkbox" value="database" (click)="getAddon($event)" [checked] = "enableDataBase == true">
          <mat-card style="margin-top: 22px;" class="checkmark" >
           
              <mat-card-title style="margin-top: -11px; text-align: center; font-size: 13px;">DataBase</mat-card-title>
              <mat-card-subtitle style="font-size: 11px;">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes</mat-card-subtitle>
          </mat-card>
        </label>
        <label class="container">
          <input #check type="checkbox" value="redis" (click)="getAddon($event)" [checked] = enableRedis>
          <mat-card class="checkmark" >
            <mat-card-title style="margin-top: -11px; text-align : center; font-size: 13px;">Redis Session
            </mat-card-title>
            <mat-card-subtitle style="font-size: 11px;">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes</mat-card-subtitle>
          </mat-card>
        </label>
        <label class="container">
          <input #check type="checkbox" value="exception"  (click)="getAddon($event)" [checked] = enableexception>
          <mat-card class="checkmark">
            <mat-card-title style="margin-top: -11px; text-align : center; font-size: 13px;">Exception Handling
            </mat-card-title>
            <mat-card-subtitle style="font-size: 11px;">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes</mat-card-subtitle>
          </mat-card>
        </label>
        <label class="container">
          <input #check type="checkbox" value="pipeline" (click)="getAddon($event)"[checked] = enablePipe>
          <mat-card class="checkmark" >
            <mat-card-title style="margin-top: -11px; text-align : center; font-size: 13px;">Pipelines</mat-card-title>
            <mat-card-subtitle style="font-size: 11px;">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes</mat-card-subtitle>
          </mat-card>
        </label>
        <label class="container">
          <input #check type="checkbox" value="logback" (click)="getAddon($event)"  [checked] = enableLogback>
          <mat-card class="checkmark" >
            <mat-card-title style="margin-top: -11px; text-align : center; font-size: 13px;">Logback</mat-card-title>
            <mat-card-subtitle style="font-size: 11px;" style="font-size: 11px;">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes</mat-card-subtitle>
          </mat-card>
        </label>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
  </a>

<a *ngIf="current == 2">
    <app-dataBase></app-dataBase>
  </a>
  <a *ngIf="current == 3" >
      <app-pipeLine></app-pipeLine>
    </a> 

 <mat-card class="addOnCard" >
  
  <p style="font-size: 14px;font-style: italic;margin-top: 25px; color: rgba(0,0,0,.54); text-align: center;" *ngIf = "selectedAddonList.length == 0" >No Add On's Selected</p>
<span  class="addontiles"  *ngFor = "let addon of selectedAddonList; let i = index">
  <mat-card *ngIf ="addon != 'redis'"  style="height: 65px;box-shadow: none !important; ">
  <p style="margin-top: 20px;font-size: 12px; text-align: center;  text-transform: capitalize;">{{addon}}</p>
</mat-card>
<mat-card *ngIf ="addon == 'redis'"  style="height: 65px;box-shadow: none !important; border-radius: 0px; background-color: blue; ">
  <p style="margin-top: 20px;font-size: 12px; text-align: center;  text-transform: capitalize;">{{addon}}</p>
</mat-card>
</span>
<button *ngIf = "selectedAddonList.length != 0 && current == 1" mat-button class="proccedBtn" (click)="proceed(selectedAddonList)" >Procced</button>
</mat-card>


<mat-toolbar class="footer">

  <button mat-button  *ngIf="current != finalScreen" class="generateBtn" (click)="generateProject()">GENERATE</button>
  <button mat-button  *ngIf="current != finalScreen" class="exploreBtn" (click)="exploreProject()">EXPLORE</button>
  <button *ngIf="current != 1 " class= "previousBtn" (click)="onPrev(current)" mat-stroked-button>Prev</button>
  <button *ngIf = "!(current == 1 || current == finalScreen)" class= "nextBtn" (click)="onNext(current)" mat-stroked-button>Next</button>

</mat-toolbar>