.toolBar {
    height: 15%;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,31,80,1) 0%, rgba(0,212,255,1) 100%);
}

.menuIcon {
    color: white;
    position: absolute;
    left: 11%;
    top: 4%;
    cursor: pointer;
}
.previousBtn{
    position: absolute;
    left: 2%;
    border-style:solid;
    color: white;
    border-color: white;
}
.nextBtn{
    position: absolute;
    right: 2%;
    border-style:solid;
    color: white;
    border-color: white;
}
 
.skipBtn{
    position: absolute;
    right: 12%;
    border-style:solid;
    color: white;
    border-color: white; 
}
.toolBarTxt {
    color: white;
    position: absolute;
    left: 75%;
    top: 0%;
    font-size: 15px;
}

.footer {
    position: fixed;
    top: 90.2%;
   right:10.5%;
   width:78.5%;
  background-color: rgb(12, 131, 177);
}

::ng-deep .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    font-size: 14px;
    width: 240px !important;
    height: 20px;
}

:host ::ng-deep.contentCard {
    border-radius: 0px;
    position: absolute;
    left: 11%;
    top: 9%;
    background-color: rgb(245, 245, 245);
    width: 76%;
    transition: none !important;
    box-shadow: none !important;
    height: auto;
}

.removeIcon {
    position: absolute;
    margin-top: -10px;
    right: 2%;
    top: 40%;
    color: red;
    cursor: pointer;
}

.dependencyPanel {
    height: 36px;
    width: 97%;
    margin-left: -12px;
    transition: none;
    box-shadow: none !important;
    overflow: hidden;
    border-bottom: 1px solid rgb(204, 198, 198);
    border-top: 1px solid rgb(204, 198, 198);
    border-left: 1px solid rgb(204, 198, 198);
    border-right: 1px solid rgb(204, 198, 198);
    margin-top: 2px;
    border-radius: 0px;
}

/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 5px !important;
    height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(178, 178, 178);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dependencyPanel:hover {
    border-bottom: 1px solid rgb(91, 168, 229);
    border-top: 1px solid rgb(91, 168, 229);
    border-left: 1px solid rgb(91, 168, 229);
    border-right: 1px solid rgb(91, 168, 229);
    border-radius: 0px;
}

.projectCard {
    border-radius: 0px;
    position: ab;
    left: 0%;
    top: 15px;
    margin-top: -10px;
    background-color: rgb(255, 255, 255);
    width: 57%;
    height: 16px;
    transition: none !important;
    box-shadow: none !important;
}

.lanuageCard {
    border-radius: 0px;
    position: relative;
    left: 0%;
    top: 16px;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
    width: 57%;
    height: 16px;
    transition: none !important;
    box-shadow: none !important;
}

.springCard {
    border-radius: 0px;
    position: relative;
    left: 0%;
    top: 17px;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
    width: 57%;
    height: 55px;
    white-space: initial;
    transition: none !important;
    box-shadow: none !important;
}

.metaDataCard {
    border-radius: 0px;
    position: relative;
    left: 0%;
    top: 19px;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
    width: 57%;
    height: 280px;
    transition: none !important;
    box-shadow: none !important;
}

.projectTxt {
    position: absolute;
    top: 44%;
    left: 1%;
    font-size: 11px;
    font-weight: bold;
}

.dependencyCard {
    border-radius: 0px;
    position: absolute;
    left: 61%;
    margin-top: 4px;
    top: 2%;
    background-color: rgb(255, 255, 255);
    width: 34%;
    white-space: initial;
    height: 10px;
    transition: none !important;
    box-shadow: none !important;
}

.dependencyBtn {
    position: absolute;
    right: 2%;
    top: 10%;
    background-color: rgb(0, 120, 215);
    color: white;
    font-size: 10px;
    height: 33px;
}

.generateBtn {
    position: absolute;
    left: 32%;
    top: 20%;
    border-style:solid;
    color: white;
    font-size: 13px;
    border-width: 2px;
}
 
.exploreBtn {
    position: absolute;
    left: 52%;
    top: 20%;
    border-style:solid;
    color: white;
    font-size: 13px;
    border-width: 2px;
}

.exploreDemoBtn {
    position: absolute;
    left: 58%;
    top: 20%;
    background-color: rgb(0, 120, 215);
    border-color: white;
    color: white;
    font-size: 14px;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.2em 7px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.85);
    width: 135.33333%;
}

::ng-deep.mat-checkbox-frame, ::ng-deep .mat-checkbox-background {
    border-radius: 50% !important;
}

::ng-deep .mat-checkbox-background svg {
    display: none;
}

.projrctMetaDataText {
    position: absolute;
    top: 2%;
    left: 3%;
    font-size: 11px;
    font-weight: bold;
}

.springBootTxt {
    position: absolute;
    top: 43%;
    left: 1%;
    font-size: 11px;
    font-weight: bold;
}

.addedDepencyCard {
    border-radius: 0px;
    position: absolute;
    left: 61%;
    margin-top: 4px;
    top: 57px;
    background-color: rgb(255, 255, 255);
    width: 34%;
    white-space: initial;
    height: 83%;
    overflow-y: auto;
    scrollbar-width: thin;
    transition: none !important;
    box-shadow: none !important;
}

.dependenceTxt {
    position: absolute;
    top: 12%;
    left: 1%;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 120, 215);
}

.metaDataTxt {
    border-radius: 0px;
    left: 0%;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 120, 215);
    height: 10px;
    width: 57%;
    transition: none !important;
    box-shadow: none !important;
}

.first {
    color: white;
    position: absolute;
    left: 14%;
    top: 0%;
    font-size: 20px;
}

/* :host ::ng-deep .mat-radio-container{
    height: 10px;
    width: 10px;
  }
  :host ::ng-deep .mat-radio-outer-circle{
    height: 10px;
    width: 10px;
  } */

:host ::ng-deep .mat-radio-button.mat-primary .mat-radio-inner-circle, .mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
    background-color:white;
}
:host ::ng-deep .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
    border-color:rgb(0,120,215);
    border-width: 5px;
    height: 18px;
    width: 18px;
}
:host ::ng-deep .mat-radio-inner-circle {
    height: 18px;
    width: 18px;
}
:host ::ng-deep .mat-radio-outer-circle {
    box-sizing: border-box;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color ease 280ms;
    width: 18px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple {
    height: 20px;
    /*double of your required circle radius*/
    width: 20px;
    /*double of your required circle radius*/
    left: calc(50% - 10px);
    /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px);
    /*'10px'-same as your required circle radius*/
}
.headingIcon{
    position: absolute;
    top: 2px;
    right: 105%;
    width: 30px;


  }