<mat-toolbar class="toolBar">
  <mat-icon class="menuIcon">menu</mat-icon>
    <p class="toolBarTxt">Custom Code Generator</p>
 
  <mat-card class="contentCard">

    <form [formGroup]="codeGenForm">
    <mat-card class="projectCard">
      
      <p class="projectTxt">PROJECT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <ng-container  *ngFor="let project of projects; let i = index">
        <mat-checkbox #pro class = "projectCheck" formControlName="project"   color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="projectIndex === i" (change)="projectCheckboxChange($event, i)">
                     <p  *ngIf = "pro.checked == true"  style="color :blue">{{project.name}}</p>
                     <p  *ngIf = "pro.checked == false"  style="color :black">{{project.name}}</p>
         </mat-checkbox>
    </ng-container>
    <!-- <mat-radio-group>
      <mat-radio-button formControlName="project" color = "primary"style="margin-left: 30px; font-size: 12px;" class="example-radio-button" *ngFor="let project of projects" [value] ="project" >
        {{project.name}}
      </mat-radio-button>
    </mat-radio-group> -->
    </mat-card>
    <mat-card class="lanuageCard">
      <p class="projectTxt">LANGUAGE</p>
      <hr style="background-color: rgb(194, 189, 189);">

      <ng-container  *ngFor="let language of languages; let i = index">
        <mat-checkbox #lang formControlName="language" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="languageIndex === i" (change)="languageCheckboxChange($event, i)">
          <p  *ngIf = "lang.checked == true"  style="color :blue">{{language.name}}</p>
          <p  *ngIf = "lang.checked == false"  style="color :black">{{language.name}}</p>
        </mat-checkbox>
    </ng-container>

    <!-- <mat-radio-group>
      <mat-radio-button formControlName="language" color = "primary"style="margin-left: 30px; font-size: 12px;" class="example-radio-button" *ngFor="let language of languages" [value] ="language" >
        {{language.name}}
      </mat-radio-button>
    </mat-radio-group> -->
     
    </mat-card>
    <mat-card class="springCard">
      <p class="projectTxt">SPRING BOOT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <ng-container  *ngFor="let springversion of springVersion; let i = index">
        <mat-checkbox #boot  formControlName="bootVersion" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="springIndex === i" (change)="springVersionCheckboxChange($event, i)">
          <p  *ngIf = "boot.checked == true"  style="color :blue">{{springversion.name}}</p>
          <p  *ngIf = "boot.checked == false"  style="color :black">{{springversion.name}}</p>
        </mat-checkbox>
    </ng-container>
    <!-- <mat-radio-group>
      <mat-radio-button formControlName="bootVersion" color = "primary"style="margin-left: 30px; font-size: 12px;" class="example-radio-button" *ngFor="let springversion of springVersion" [value] ="springversion">
        {{springversion.name}}
      </mat-radio-button>
    </mat-radio-group> -->
    </mat-card>
    <mat-card class="metaDataCard">
      <p class="projectTxt">PROJECT METADATA</p>
      <hr style="background-color: rgb(194, 189, 189);">

        <mat-form-field  style=" font-size: 16px;width: 25%;"  appearance="outline">
          <mat-label>Group</mat-label>
          <input matInput [(ngModel)]="group" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Artifact</mat-label>
          <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px; width: 25%;" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
        <mat-form-field style=" font-size: 16px;width: 25%;"appearance="outline" >
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
        
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Package Name</mat-label>
          <input matInput formControlName="packageName" value="{{group}}.{{name}}">
        </mat-form-field>
        <br>
        <span style="font-size: 12px;">Packaging</span>
        <ng-container   *ngFor="let pack of packaging; let i = index">
          <mat-checkbox #pac formControlName="packaging" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="packIndex === i" (change)="packagingCheckboxChange($event, i)">
            <p  *ngIf = "pac.checked == true"  style="color :blue">{{pack.name}}</p>
            <p  *ngIf = "pac.checked == false"  style="color :black">{{pack.name}}</p>
          </mat-checkbox>
      </ng-container>
      <!-- <mat-radio-group>
  <mat-radio-button formControlName="packaging" color = "primary"style="margin-left: 30px; font-size: 12px;" class="example-radio-button" *ngFor="let pack of packaging" [value] ="pack">
    {{pack.name}}
  </mat-radio-button>
</mat-radio-group> -->
                <span style="margin-left: 60px;font-size: 12px;">Java</span>
        <ng-container  *ngFor="let javaversion of javaVersion; let j = index">
          <mat-checkbox  #jav formControlName="java" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="javaIndex === j" (change)="javaVersionCheckboxChange($event, j)">
            <p  *ngIf = "jav.checked == true"  style="color :blue">{{javaversion.name}}</p>
            <p  *ngIf = "jav.checked == false"  style="color :black">{{javaversion.name}}</p>
          </mat-checkbox>
      </ng-container>
      <!-- <mat-radio-group>
        <mat-radio-button formControlName="java" color = "primary"style="margin-left: 30px; font-size: 12px;" class="example-radio-button" *ngFor="let javaversion of javaVersion" [value] ="javaversion">
          {{javaversion.name}}
        </mat-radio-button>
      </mat-radio-group> -->
    </mat-card>
    <mat-card class="dependencyCard" >
      <p class="projectTxt">DEPENDENCIES</p>
      <button mat-raised-button class="dependencyBtn"  (click) = 'openDependency()'>ADD DEPENDENCIES</button>
      <hr style="background-color: rgb(194, 189, 189); margin-top: 22px;">
      <mat-card class="dependencyPanel"  *ngFor = "let depend of addDependencies; let i = index">
        <mat-icon class="removeIcon"  (click)= "removeDepenency(i)">close</mat-icon>
      <mat-card-header>
        <mat-card-title style="font-size: 14px;font-weight: bold;">{{depend.name}}</mat-card-title>
        <mat-card-subtitle style="font-size: 11px;color: black;;">{{depend.description}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    </mat-card>
  </form>
  </mat-card>
  


  <mat-toolbar class="footer">

   <button mat-button class="generateBtn" (click)="generateProject()">GENERATE</button>
   <button mat-button class="exploreBtn">EXPLORE</button>
    </mat-toolbar>