<mat-card class="contentCard">

  <mat-grid-list cols="6" rowHeight="480px" >
    <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'#F5F5F5'">
      <mat-card class="dbtitleCard"> 
        <h5 class="headings"> Database Details</h5>
      </mat-card>
      
       <mat-card class="dbDetailsCard">
       <form [formGroup]="databaseForm">
        <mat-form-field style="margin-left: 20px; font-size: 16px;" appearance="outline">
          <mat-label>Database Host</mat-label>
          <input  class="dbFormFields" matInput style="margin-left: -7px;"  formControlName="hostName" >
        </mat-form-field>
        <mat-form-field style="margin-left: 20px; font-size: 16px;" appearance="outline">
          <mat-label>Database Name</mat-label>
          <input matInput style="margin-left: -7px;"  class="dbFormFields"  formControlName="dbName">
        </mat-form-field>
        <br>
        <mat-form-field  style=" margin-left: 20px ;font-size: 16px;" appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput style="margin-left: -7px;"  class="dbFormFields"  formControlName="username" >
        </mat-form-field>
      
        <mat-form-field    style="margin-left: 20px;  font-size: 16px;" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput style="margin-left: -7px;" class="dbFormFields"  formControlName="password">
        </mat-form-field>
        <br>
      <a *ngIf = "hibernetEnabled.checked == true" [@fadeInOnEnter] [@fadeOutOnLeave]>
        <span style=" margin-left: 20px ;font-size: 12px;">Show SQL</span> 
        <mat-radio-group aria-label="Select an option"  formControlName="showsql"  >
          <mat-radio-button color="primary" style="margin-left: 30px; font-size: 12px;" value="true" >True</mat-radio-button>
          <mat-radio-button color="primary" style="margin-left: 30px; font-size: 12px;" value="false" [checked] =true>FALSE</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <mat-form-field style="margin-left: 20px ;width: 45%;" >
          <mat-label>Dialect </mat-label><mat-icon class="dialecttooltip" matTooltip = {{dialectToolTip}} [matTooltipPosition]="toolPosition">info</mat-icon>
          <mat-select formControlName="dialect" >
            <mat-option *ngFor="let dialect of dialects" [value]="dialect">
              {{dialect}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 20px; width: 45%;">
          <mat-label >Ddl Auto</mat-label><mat-icon class="ddltooltip" matTooltip = {{ddlAutoToolTip}} [matTooltipPosition]="toolPosition">info</mat-icon>
          <mat-select formControlName="ddlauto">
            <mat-option *ngFor="let ddl of ddlArray" [value]="ddl"  >
              {{ddl}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </a>
      </form>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#F5F5F5'">
    <mat-card class="iconTitleCard">
    <h5 class="headings"> Select Database</h5>
    </mat-card>
    <mat-card class="iconsCard" [@EnterLeave]="'flyIn'"  >
      <label>
        <input #ch type="radio" name="test" value="small" [checked] = false > 
        <img  class = "icon" (click)="getDB('mysql')" src="../../assets/images/microsoft-sql-server (1).png" [@headShake]= "dbName == 'mysql' && dbName != 'mssql'">
      </label>
      <label>
        <input #ch type="radio" name="test" value="small" [checked] = false>
        <img  class = "icon" (click)="getDB('mssql')" src="../../assets/images/Microsoft-SQL-Server_0.png" [@headShake]=  "dbName == 'mssql' && dbName != 'mysql'" >
      </label>
      <label>
        <input #ch type="radio" name="test" value="small" [checked] = false>
        <img class = "icon" (click)="getDB('oracle')" src="../../assets/images/microsoft-sql-server (2).png" [@headShake]= "dbName == 'oracle' && dbName != 'mssql'">
      </label>
    </mat-card>
    <mat-card class="hibernetCard">
      <h5 class="headings"> Select Hibernate</h5>
    </mat-card>
<form [formGroup]="databaseForm">
    <mat-card class="hibernetRadioCard">
        <mat-radio-group [disabled] = "enableHibernet" aria-label="Select an option" formControlName = "isHibernet">
          <mat-radio-button #hibernetEnabled color="primary" style=" font-size: 12px;" value="yes" >YES</mat-radio-button>
          <mat-radio-button color="primary" style="margin-left: 30px; font-size: 12px;" value="no">NO</mat-radio-button>
        </mat-radio-group>
    </mat-card>
  </form>
    <button style="position: absolute; top: 75%;" mat-button (click)="sendDbDetails()">send</button>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-card class="addOnCard" >
  <mat-card  class="addontiles"  *ngFor = "let addon of selectedAddonList; let i = index" >
  <p style="margin-top: 20px;font-size: 12px; text-align: center; text-transform: capitalize;">{{addon}}</p>
  </mat-card> 
  </mat-card> -->
  

</mat-card>